@font-face {
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: normal;
  src: url("iosevka-regular.woff2") format("woff2"), url("iosevka-regular.woff") format("woff"), url("iosevka-regular.ttf") format("truetype");
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
}

body {
  font-family: 'Iosevka Web', sans-serif;
  color: #ebdbb2;
  background-color: #0e0f0f;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  margin-left: 33%;
  margin-right: auto;
  max-width: 55%;
  align: center;
}

a {
  color:#98971a;
  text-decoration: none;
}

a:visited {
  color: #b8bb26;
}

a:hover {
  color:#8ec07c;
  cursor:pointer;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::-moz-selection {
  background: #ffa86a;
  color: #000;
}

::selection {
  background: #ffa86a;
  color: #000;
}

a::-moz-selection {
  background: #ffa86a;
  color: #0645ad;
}

a::selection {
  background: #ffa86a;
  color: #0645ad;
}

p {
  /* letter-spacing:-.03em; */
  font-size: 0.98em;
  margin: 1em 0;
  text-align: left;
}

.figure {
  text-align: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
	border:5px solid #fff;
  /* box-shadow: 10px 10px 5px #ccc; */
  /* -moz-box-shadow: 10px 10px 5px #ccc; */
  /* -webkit-box-shadow: 10px 10px 5px #ccc; */
  /* border-radius:7px; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  /* font-weight: 00; */
  /* color: #66ff99; */
  color: #ffa86a;
  line-height: 1em;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ffa86a;
}

h2 {
  font-size: 1.9em;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #282828;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
    color: #b16286;
    border-left: 3px solid #b16286;
    padding-left: 20px;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

code,
kbd,
samp {
    font-family: "Inconsolata", monospace;
    font-size: 0.98em;
    white-space : pre !important;
    background:#1c1b19;
    color:#fb4934;
    margin:0 2px;
    border-radius: 5px;
    padding: 3px;

}

.sourceCode {
    font-size: 0.96em;
    font-family: 'Fira Mono';
    background: #1c1b19;
    color: #fce8c3;
}

@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ffcfaf; } /* Alert */
code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #dca3a3; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #fabd2f; } /* ControlFlow */
code span.ch { color: #dca3a3; } /* Char */
code span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
code span.co { color: #7f9f7f; } /* Comment */
code span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
code span.do { color: #7f9f7f; } /* Documentation */
code span.dt { color: #dfdfbf; } /* DataType */
code span.dv { color: #dcdccc; } /* DecVal */
code span.er { color: #c3bf9f; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #c0bed1; } /* Float */
code span.fu { color: #b8bb26; } /* Function */
code span.im { } /* Import */
code span.in { color: #7f9f7f; font-weight: bold; } /* Information */
code span.kw { color: #fabd2f; } /* Keyword */
code span.op { color: #f0efd0; } /* Operator */
code span.ot { color: #b8bb26; } /* Other */
code span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
code span.sc { color: #dca3a3; } /* SpecialChar */
code span.ss { color: #d3869b; } /* SpecialString */
code span.st { color: #d3869b; } /* String */
code span.va { } /* Variable */
code span.vs { color: #d3869b; } /* VerbatimString */
code span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */

.sourceCode pre {
    padding: 20px 20px 20px 20px;
}

pre {
    word-wrap: break-word;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 0px;
    overflow: auto;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin-left: 1em 0;
  padding: 0 0 0 2em;
}


li p:last-child {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

img {
	border:1px solid #333;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media only screen and (max-width: 1020px) {
  body {
    font-size: 14px;
    margin-left: 0%;
    max-width: 100%;
  }
  .logo {
      max-height: 100px
  }
}

@media only screen and (max-width: 5000px) {
  body {
    font-size: 16px;
  }
  .logo {
      max-height: 100px;
  }
  article {
      margin: 0px 0;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}
/* Create a style for the first level items */
nav > div > ul > li > a {
    color: #333 !important;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
    text-decoration: none;
}

nav > div.nav-right > ul > li > a {
    padding: 0.5em 0.5em;
}

nav > div > ul > li > a:hover {
    color: #aaa !important;
}
.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

 /* The side navigation menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1c1b19; !important
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #fce8c3;
  /* padding: 16px; */
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #b8bb26;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1020px) {
  .sidebar {
    width: 100%;
    height: 300px;
    position: relative;
  }
  /* .sidebar a {float: right;} */
  /* div.content {margin-left: 0;} */
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}

.logo {
    max-height: 100px;
    border: None;
    box-shadow: None;
    /* border-radius:50px; */
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
article img {
    margin: 1em 0;
}
p.date {
    font-size: 13px;
    color: #666;
}
ul.articles {
    list-style: none;
    padding: 0;
}
#Articles {
    margin-top: 2em;
}
footer {
    font-size: 13px;
    text-align: center;
	padding-top: 1.5em;
}

mark{
    background: orange;
    color: black;
}

vbar {
  overflow: hidden;
  background-color: #333;
}

.sticky {
    display: block;
    color: #fff;
    background-color: #bb0000;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
