# Ignore the following files

writeups/hackthebox-writeups/hackthebox-admirer-writeup/
writeups/hackthebox-writeups/hackthebox-blunder-writeup/
writeups/hackthebox-writeups/hackthebox-montevarde-writeup/
writeups/hackthebox-writeups/hackthebox-book-writeup/
